<h2 class ="welcome">Welcome Admin: {{user.firstName}} {{user.lastName}}</h2>

<!-- Admin add product-->
<div class ="adminbutton">
    <div class="admin">
        <a href="/products/add">Add Product </a>
    </div>

    <div class ="admin">
        <a href="/products/viewProduct">View All Product </a>
    </div>
</div>